![](Cintilla2004.png)

## **Curso de Inteligencia Artificial con Python y Scikit-Leaarn**
### Instructor: Dr. José Gabriel Rodríguez Rivas

<div style="color: blue;">
    <h1> Practica 4: Random ForestClassifier  </h1>
</div>

In [10]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [8]:
# Cargar el dataset
prestamos = pd.read_csv("prestamos.csv")
# Exploración rápida
prestamos.head()

,funded_amnt,loan_term_year,int_rate,grade_code,purpose_code,addr_state_code,home_ownership_code,annual_inc,dti,revol_util,pub_rec_bankruptcies,repaid,total_pymnt
0,2400,3,15.96,2,11,2,4,12252,8.72,98.5,0,1,3005.666844
1,10000,3,13.49,2,9,0,4,49200,20.00,21.0,0,1,12231.890000
2,3000,3,18.64,4,0,0,4,48000,5.35,87.5,0,1,3939.135294
3,5600,5,21.28,5,11,0,3,40000,5.55,32.6,0,0,647.500000
4,5375,5,12.69,1,9,5,4,15000,18.08,36.5,0,0,1484.590000

In [14]:
from sklearn.model_selection import train_test_split

# columnas necesarias para entrenar el modelo de clasificacion, no ponemos la de pago y total pago
model_columns = ['funded_amnt', "int_rate", "grade_code", 'purpose_code', 'addr_state_code',
                 'home_ownership_code', 'annual_inc', 'dti', 'revol_util', 
                 'pub_rec_bankruptcies']

# Dividimos el dataFrame en df_train y df_test. 
df_train, df_test = train_test_split(prestamos, test_size=0.4, random_state=23)

#  No podemos usar df_train y df_test directamente en la clasificación, por lo tanto, 
#  Definiremos X_train y X_test, manteniendo sólo las columnas del modelo. 
X_train = df_train[model_columns]
X_test = df_test[model_columns]

#  A continuación, definimos y_train y y_test con la columna de **repaid**, es decir
#  la variable objetivo (Valor a predecir)
y_train = df_train.repaid
y_test = df_test.repaid

In [20]:
# Crear
rfc1 = RandomForestClassifier(random_state=23)

# Fit estimator and display score
rfc1 = rfc1.fit(X_train, y_train)

print(f'Precisión: {rfc1.score(X_test, y_test)}')

pred = rfc1.predict(X_test)

print(f'Matriz Confusion:\n{metrics.confusion_matrix(y_test, pred)}')

Precisión: 0.8495730788548468
Matriz Confusion:
[[  25 1161]
 [  37 6741]]

In [24]:
# columnas necesarias para entrenar el modelo de clasificacion, no ponemos la de pago y total pago
model_columns = ['funded_amnt', "int_rate", "grade_code", 'purpose_code', 
                 'home_ownership_code', 'annual_inc', 'dti', 'revol_util' ]

# Dividimos el dataFrame en df_train y df_test. 
df_train, df_test = train_test_split(prestamos, random_state=23)

X_train = df_train[model_columns]
X_test = df_test[model_columns]

y_train = df_train.repaid
y_test = df_test.repaid

In [28]:
rfc5 = RandomForestClassifier(max_depth=7, class_weight='balanced', random_state=23)

# Fit estimator and display score
rfc5 = rfc5.fit(X_train, y_train)

print(f'Precisión: {rfc5.score(X_test, y_test)}')
pred = rfc5.predict(X_test)

print(f'Confusion Matrix:\n{metrics.confusion_matrix(y_test, pred)}')

Precisión: 0.64235483222825
Confusion Matrix:
[[ 419  329]
 [1451 2778]]